:root{
    --blue:#2980b9;
    --red:tomato;
    --orange:orange;
    --black:#333;
    --white:#fff;
    --bg-color:#eee;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: 1rem solid #999;
    --bg-dark:#0000003d;
   
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-family: sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* code used to style the scrollbar for container-items*/
body::-webkit-scrollbar{
    width: .3rem;
}
body::-webkit-scrollbar-track{
    background: rgb(14, 23, 75);
    border-radius: 50px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(75, 165, 255);
    border-radius: 50px;
}


/* styling for navbar ************************************************************************************************************************************************************************/
nav{
    background: rgb(14, 23, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    z-index: 1;
    position: fixed;
    width: 100%;
}
.logo img{
    max-height: 3em;
}
.logo{
    max-height: 100%;
}

.hamburger{
    display: none;
}

ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}
.nav-links .link{
    font-size: 1.10rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .5s;
    background: rgb(14, 23, 75);
    border: 0;
    cursor: pointer;
}

.dropdown.active > .link,
.link:hover{
    color: dodgerblue;
}

/* styling for navbar dropdown */
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + 1rem);
    background-color: rgb(14, 23, 75);
    color: black;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .15);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 1;
}
.dropdown-menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 3em;
    transition: .2s;
}
.dropdown-menu a:hover{
    color: rgb(75, 165, 255);
}
.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* to make navbar responsive */
@media (max-width: 1100px){
    /* styling for hamburger menu */
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #ffffff;
        margin: 6px 0;
    }
    .nav-links{
        height: 0;
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        /* width: 100vw; */
        background: rgb(14, 23, 75);
        transition: .5s;
        overflow: hidden;
        z-index: 1;
    }
    .nav-links.active{
        height: 500px;
    }
    .nav-links ul{
        flex-direction: column;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }
    .nav-links.active ul{
        opacity: 1;
    }
    .nav-links ul li a{
        margin-bottom: 12px;
    }
    .dropdown-menu{
        left: 6rem;
        top: 0;
        transform: translateX(-10px);
        background-color: rgb(20, 35, 117);
        padding: .5rem;
        
    }
    .dropdown-menu a{
        line-height: 1.7em;
    }
}


/* styling for home page************************************************************************************************************************************************************************************************************************************************************************************************************/
/* styling for the slideshow */
.slideshowcontainer{
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
}
.outer{
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(7px);
}
.details{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2rem;
    border-radius: 1.5rem;
}
.details h1{
    font-size: 6em;
    color: #fff;

}
.details p{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding-bottom: 3em;
}
.details h4{
    color: #ffffff;
    font-weight: 200;
    font-size: 1.3em;
    padding-bottom: .3em;
}
.details a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 42);
    padding: 1em;
    width: 11em;
    border-radius: 5px;
}
.details a:hover{
    background-color: rgb(4, 44, 0);
    color: rgb(255, 255, 255);
    transition: .3s;
}
@keyframes animate{
    0%, 100%{
        background-image: url(images/1.jpg);
    }
    25%{
        background-image: url(images/2.jpg);
    }
    50%{
        background-image: url(images/3.jpg);
    }
    75%{
        background-image: url(images/4.jpg);
    }
}

/* styling for welcome section */
.welcome-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 2rem;
}
.welcome-remarks{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5rem;
    margin: 2rem;
    width: 100%;
}
.welcome-remarks img{
    width: 20rem;
    border-radius: 50%;
    margin-right: 2rem;
    border: 3px solid rgb(0, 0, 0);
}
.welcome-remarks h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 1rem;
}
.welcome-remarks h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(0, 0, 0);
}
.welcome-remarks p{
    color: rgb(0, 0, 0);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 2rem;
    
}
.welcome-remarks a{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(14, 23, 75);
    background-color: rgb(0, 162, 255);
    padding: .5rem;
}
.welcome-remarks a:hover{
    color: rgb(14, 23, 75);
    background-color: rgb(137, 212, 255);
    transition: .3s;
}
/* styling for video */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 2rem; */
}
.intro .headvideo img{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    width: 40rem;
}
.introduction{
    padding-bottom: .5em;
}
.introduction h3{
    font-size: 2em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
}

/* intro responsiveness for smaller screens */
@media (max-width: 1550px){
    .welcome-section{
        flex-direction: column;
        margin: 2rem;
    }
    .welcome-remarks{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .welcome-remarks img{
        margin-right: 0;
    }
    .intro{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .intro .headvideo img{
        width: 100%;
    }
}

@media (max-width: 960px){
    .welcome-remarks{
        padding: 1rem;
        width: 20rem;
    }
    .details h1{
        font-size: 4em;
    }
    .details p{
        font-size: 1em;
    }
    .welcome-remarks img{
        width: 10rem;
    }
    .intro .headvideo img{
        width: 20rem;
    }
}

/* styling for school activites section */
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem;
}
.wrapper-content{
    display: flex;
}
.announcements-head h1{
    color: rgb(0, 0, 0);
    padding-bottom: 2rem;
}
.image{
    width: 100%;
    position: relative;
    cursor: pointer;
}
.image img{
    width: 100%;
    display: block;
    margin: auto;
}
.desc{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}
.desc:hover{
    opacity: 1;
}
.desc h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    color: #00b7ff;
    margin-bottom: 15px;
}
.desc p{
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    padding-left: 2rem; 
    padding-right: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
.desc > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.desc:hover > *{
    transform: translateY(0px);
}
@media (max-width: 960px){
    .wrapper-content{
        display: flex;
        flex-direction: column;
    }
    .image{
        width: 20rem;
    }
    .desc h1{
        font-size: 20px;
    }
    .desc p{
        font-size: 19px;
        text-align: center;
    }
}

/* styling for announcemnts section */
.announcements-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 2rem;
    margin-bottom: 10rem;
    margin-top: 5rem;

}
.announcements-head h1{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}
.announcements{
    backdrop-filter: blur(30px);
    display: flex;
    overflow-x: scroll;
    /* width: 80rem; */
    width: 100%;
}
.announcements form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.announcements form img{
    height: 20rem;
    padding: .5rem;
    object-fit: cover;
}
.announcements-details{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.announcements-details h4{
    color: rgb(14, 23, 75);
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
}
.announcements-details p{
    color: rgb(65, 65, 65);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 1.5em;
}
/* to make virtual tour page responsive */
@media (max-width:960px){
    .announcements form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .announcements img{
        width: 20rem;
    }
    .announcements-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .announcements-details p{
        text-align: center;
    }
}

/* code used to style the scrollbar for container-items*/
.announcements::-webkit-scrollbar{
    height: .5rem;
}
.announcements::-webkit-scrollbar-track{
    background: rgb(14, 23, 75);
    border-radius: 50px;
}
.announcements::-webkit-scrollbar-thumb{
    background: rgb(75, 165, 255);
    border-radius: 50px;
}

/* styling for about us page*****************************************************************************************************************************************************************************************************************************************************************************************/
.top{
    text-align: center;
    padding: 5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/3.jpg);
    background-position: 90em;
    
}
.top img{
    background-image: cover;
}
.top h1{
    font-weight: bold;
    color: white;
}

.section-content{
    display: flex;
    position: sticky;
    top: 0;
    background-image: url(images/Eagles\ Nest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.left{
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    backdrop-filter: blur(30px);
    /* background: #ffffff; */
    
}
.left > div ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left > div h2{
    font-size: 2em;
    padding-bottom: 2em;
    font-weight: 900;
}
.left > div ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}
.left > div ul li a:hover{
    color: #18b7ff;
    transition: .3s;
}
main{
    height: 100vh;
    width: 50%;
    margin-left: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background: linear-gradient(rgb(14, 30, 75), rgba(0, 255, 242, 0.623));
    backdrop-filter: blur(20px);
    
}

/* code used for styling the scroll bar */
main::-webkit-scrollbar{
    width: 0rem;
}


main > section {
    height: 100vh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    z-index: -1;

}
main > section:nth-child(odd){
    background: linear-gradient(rgba(0, 255, 242, 0.623, rgb(14, 30, 75)));
}
main > section > div h2{
    font-size: 2em;
    margin: 2rem;
    font-weight: 900;
    color: white;
    border-bottom: 3px solid white;
    width: fit-content;
}
main > section > div p{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 2rem;
}

/* to make about us page responsive */
@media (max-width:960px){
    .section-content{
        display: flex;
        flex-direction: column; 
        background-image: url(images/Eagles\ Nest.jpg);
        background-position: -60rem;
    }
    .left{
        width: 100%;
        position: static;
        
    }
    main{
        width: 100%;
    }
    main > section > div p{
        font-size: 1rem;
    }
}



/* Styling for the contact us Page*************************************************************************************************************************************************************************/
.contact_us{
    position: relative;
    padding: 40px 100px;
}
.contact_us .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.contact_us .title h2{
    font-weight: 500;
    font-weight: bold;
}
.form{
    margin-right: 1rem;
}
.info{
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.map{
    margin-left: 2rem;
}
.contact{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, .15);
}
.box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 2em;
}
.form{
    width: 100%;
}
.contact h3{
    color: #0a3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form styling ************************************************/
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display: flex;
    gap: 20px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
}
/* controls size of textarea and send button */
.formBox .row100 .inputBox{
    width: 100%;
}

/* styling for text in form */
.inputBox span{
    color: rgb(75, 165, 255);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

/* styling for text in button */
.inputBox button{
    background-color: rgb(75, 165, 255);
    border: 0;
    width: 7rem;
    padding: 1em;
    cursor: pointer;
}
.inputBox button:hover{
    background-color: rgb(14, 23, 75);
    transition: 150ms ease-in-out;
}

/* styling for input in from */
.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
/* styling for textarea */
.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
/* styling for send button */
.inputBox input[type="submit"]{
    background-color: rgb(75, 165, 255);
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputBox::placeholder{
    color: #999;
}

/* info styling ****************************************************/
.info{
    background: rgb(14, 23, 75);
}
.info h3{
    color: #fff;
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 2em;
    
}
/* styling of the icons in contact info */
.info .infoBox div span{
    min-height: 10px;
    height: 40px;
    color: #fff;
    background: rgb(75, 165, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: .5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}
.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
/* map styling ****************************************************/
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 20em;
}

/* styling to make contact page responsive */
@media (max-width:1100px){
    .contact_us{
        padding: 20px;
    }
    .box{
        flex-direction: column;
        margin-left: 0;
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox{
        width: 100%;
    }
    .contact{
        padding: 30px;
    }
    .form{
        margin-bottom: 2rem;
        margin-right: 0;
        width: auto;
    }
    .info{
        margin-bottom: 2rem;
        margin-left: 0;
    }
    .map{
        min-height: 300px;
        padding: 0;
        margin-left: 0;
    }
}

/* styling for the virtual tour page *********************************************************************************************************************************************************************************************************/
.school-areas{
    text-align: center;
    background: linear-gradient( rgba(0, 17, 92, 0.253), rgba(0, 225, 255, 0.37)), url(images/Eagles\ Nest.jpg);
}
.school-areas h1{
    color: rgb(255, 255, 255);
    padding-top: 2rem;
    text-transform: uppercase;
}
.areas{
    backdrop-filter: blur(30px);
}
.areas form{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
/* .areas form img{
    height: 20rem;
    padding: .5rem;
    border-radius: 2rem;
    object-fit: cover;
} */
iframe{
    height: 30rem;
    padding: .5rem;
    border-radius: 2rem;
    width: 100%;
}
.area-details{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}
.area-details h3{
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: rgb(14, 23, 75);
    text-align: left;
    text-transform: uppercase;
}
.area-details p{
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 2rem;
    font-size: 1.5em;
}
/* to make virtual tour page responsive */
@media (max-width:1200px){
    .school-areas{
        background-position: -270rem;
    }
    .areas form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    iframe{
        height: 20rem;
    }
    .areas img{
        width: 100%;
    }
    .area-details{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .area-details h3{
        margin-left: 0;
        text-align: center;
    }
    .area-details p{
        font-size: 1.1rem;
        padding-left: 0;
        text-align: center;
    }
}

/* code used for styling the footer*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 23, 75);
    margin-top: auto;
    z-index: 1111;
}
.footer .social{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: .5rem;
}
.footer .social img{
    width: 2.5rem;
    padding: .3em;
    min-height: 10px;
    height: 40px;
    color: #fff;
    background: rgb(75, 165, 255);
    border-radius: 50%;
}
.footer .social img:hover{
    background-color: rgb(255, 255, 255);
    transition: .5s;
} 
.footer .list{
    display: flex;
    justify-content: center;
}
.footer .list a{
    text-decoration: none;
    color: white;
}
.footer .list a:hover, .admin a:hover{
    color: rgb(75, 165, 255);
    transition: .2s;
}
.footer p{
    text-align: center;
    padding: 20px;
    color: white;
}
.footer .admin{
    padding: 0;
}
.footer .admin a{
    text-decoration: none;
    color: white;
}
.admin a:hover{
    color: rgb(75, 165, 255);
    transition: .2s;
}


/* footer responsiveness for smaller screens */
@media (max-width: 600px){
    .footer{
        padding: .5rem;
    }
    .footer .list{
        gap: 1rem;
    }
    .footer .social img{
        padding: .5rem;
    }
    
}